<h1>Forget your password?</h1>
<p>
  Use the token below to update the password in your Android application. The token will be invalid after 4 hours. <br>
  <%= @user.reset_password_token %>
</p>
<p>Thanks for joining and have a great day!</p>